# This is set up and maintained by the Ansible script.
# If you change this file, your changes may be replaced.
MYSQL_USER=surveytoolstaging
MYSQL_PASSWORD={{ mysql_users[0].password }}
MYSQL_DB=cldrdbstaging
WLP_SKIP_MAXPERMSIZE=true
LOG_DIR=/var/log/openliberty/cldrstaging
